{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Data PDF</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
    <link rel="stylesheet"type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1 style="text-align: center;">Saved Data</h1>
    <table>
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.fullname }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
